<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinatra</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1> <%= @data[:name] %>'s homepage </h1>
  <ul>
  <% @data[:hobbies].each do |hobby| %>
    <li><%= hobby %></li>
  <% end %>
  </ul>
  <img src="/images/download.jpeg">
</body>
    <script src="/js/main.js"></script>
</html>